<nav>
    <div class="site-title">
        
        <a href="/"><h1>OLAAA</h1></a>
        <p>A not Ninja Site</p>
    </div>
    <u1>
   <li><a href="/">HOMEPAGE</a></li> 
   <li><a href="/about">hii</a></li> 
   <li><a href="/blogs/create">welcome</a></li> 


    </u1>
</nav>